<nav class="flex items-center h-20 pl-12 bg-transparent z-[1] fixed inset-x-0 top-0 border border-red-600">
  <nav class="font-extralight">
    <a routerLink="/home">
      <img class="w-32 h-15 " [src]="'/netflix.png'" alt="netflix logo" />
    </a>
  </nav>
  <nav class="font-extralight flex-grow">
    <a class="mx-2" routerLink="/home">Home</a>
    <a class="mx-2" routerLink="/home">TV Shows</a>
    <a class="mx-2" routerLink="/home">Movies</a>
    <a class="mx-2" routerLink="/home">New & Popular</a>
    <a class="mx-2" routerLink="/home">My List</a>
    <a class="mx-2" routerLink="/home">Browse by Languages</a>
  </nav>
  <nav class="flex font-extralight mx-14">
    <a class="mx-2" routerLink="/home">
        <i class='bx bx-search text-2xl px-1'></i>
    </a>
    <a class="mx-2" routerLink="/home">
        <i class='bx bx-bell text-2xl px-1'></i>
    </a>
    <a class="mx-2" routerLink="/home">
        <img class="h-8 px-1" src="https://occ-0-1959-6126.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABZjbRLteCwz9qUBoQNDcTgnpeLdHcABGonefvlkK1imOp0HtuoNJGTArMuo58MryPP6kIpVmeuQFZoTiRyDmpV7qjxgqUnMbLfCE.png?r=72f" alt="">
    </a>
  </nav>
</nav>
