<div class="flex justify-between px-5">
    <div class=" w-[70%]">
        <div class="flex gap-3 items-center">
            <div class="w-[15%] h-[15%]">
                <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
            </div>
            <div >
                <h1 class="font-bold">Simon Cowall</h1>
                <h6 class="text-[#AEADB3] text-sm">Feb 28,2023 - 12:54PM</h6>
            </div>
        </div>
       
    </div>
   
     <h1 class="font-bold text-xl">$21,442</h1>
      
   </div>