<div class="h-screen flex flex-col justify-center items-center">
  <h1 class=" text-5xl text-center my-9">Who's watching ?</h1>
  <div class="flex flex-wrap justify-center items-center mx-30 font-extralight">
    <app-profile-cards
      [profileImg]="
        'https://occ-0-1959-6126.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABZjbRLteCwz9qUBoQNDcTgnpeLdHcABGonefvlkK1imOp0HtuoNJGTArMuo58MryPP6kIpVmeuQFZoTiRyDmpV7qjxgqUnMbLfCE.png?r=72f'
      "
      [profileName]="'Oluseyi'"
    ></app-profile-cards>
    <app-profile-cards
      [profileImg]="
        'https://occ-0-1959-6126.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABawFE7TNHbKOXlM-LVLoJkJE-IAvsKivrPNznAfxNav3b-dEG3PslrbYvXywsbUb8AZrvnNzdx-JFZM5z24HLybJROwg2krlNHgu.png?r=45f'
      "
       [profileName]="'Sucre'"
    ></app-profile-cards>
    <app-profile-cards
      [profileImg]="
        'https://occ-0-1959-6126.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABd5FbLc_yGzzA7t_3LA3L8xjg3ZQBUol29TQyrCL6-M-LlIum_qxLuaDqGH1b_oLGLTKQoM-RAv_ZPgpZXwAt4Zy7-y7t4WmWu2k.png?r=eea'
      "
       [profileName]="'nuvo'"
    ></app-profile-cards>
    <app-profile-cards
      [profileImg]="
        'https://occ-0-1959-6126.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABb81BxMNuz7x4Bt4RAxNIgMh7pbVFbyz41I_IQECtHpk_kZPBAdycxiJOgjo6l2lWKtPJrL4MsjQkrwg4oH4QcMYhE38863oceg0.png?r=cad'
      "
       [profileName]="'Layomi'"
    ></app-profile-cards>
    <app-profile-cards
      [profileImg]="
        'https://occ-0-1959-6126.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABVMHS8-zIB6xU0fuAJ-8aArIOvDzPfYtp1n3Z_YjkaVHK-aMX2n1lrHZWxm6Gz6hbcVPKJFN4mEWmCeyXgueDDrCL26PZ9rj3bcI.png?r=85b'
      "
       [profileName]="'Lucid'"
    ></app-profile-cards>
  </div>
  <span
    class="text-[#808080] text-center py-2 px-10 font-extralight tracking-widest border border-[#808080] my-12"
    >Manage Profiles</span
  >
</div>

<!-- sm:flex sm:flex-wrap md:justify-center md:items-center -->
