<div class="flex justify-between px-5 py-2">
    <div class="h-[18%] max-w-[70%]">
      <div class="flex  gap-2 items-center">
        <div class="w-[10%] h-[10%] px-2">
          <input type="checkbox" />
        </div>
        <div class="w-[100]">
          <h1>Designing a landing page</h1>
          <div class="flex">
            <div class="w-[10%] h-[10%]">
              <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
            </div>
            <div class="w-[10%] h-[10%]">
              <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
            </div>
            <div class="w-[10%] h-[10%]">
              <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
            </div>
            <div class="w-[10%] h-[10%]">
              <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
            </div>
            <div class="w-[10%] h-[10%]">
              <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div >
      <h6
        class="bg-[#F3F0FC] text-[#7E6BD4] px-2 text-sm font-bold rounded-md"
      >
        In progress
      </h6>
    </div>
  </div>