<div class="mx-5 py-4 px-5 border border-[#E7E7EC] rounded-lg my-5">
    <div class="flex justify-between items-center">
      <h1 class="font-bold">Home Page Design</h1>
      <i
        class="bx bx-plus border rounded-sm border-[#7E6BD4] text-[#7E6BD4] font-light"
      ></i>
    </div>
    <div class="flex flex-wrap gap-2 my-2">
      <h3
        class="bg-[#F3F0FC] text-[#7E6BD4] text-xs font-bold rounded-md px-2 py-1"
      >
        Framework
      </h3>
      <h3
        class="bg-[#EBF7FF] text-[#63ABD3] text-xs font-bold rounded-md px-2 py-1"
      >
        Angular
      </h3>
      <h3
        class="bg-[#EBF7FF] text-[#63ABD3] text-xs font-bold rounded-md px-2 py-1"
      >
        PHP
      </h3>
    </div>
    <div class="flex">
      <div class="w-[10%] h-[10%]">
        <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
      </div>
      <div class="w-[10%] h-[10%]">
        <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
      </div>
      <div class="w-[10%] h-[10%]">
        <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
      </div>
      <div class="w-[10%] h-[10%]">
        <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
      </div>
      <div class="w-[10%] h-[10%]">
        <img class="rounded-full" [src]="'sqi logo.jpeg'" alt="" />
      </div>
  </div>
</div>