<div class="text-white flex flex-col justify-center items-center mx-[10%] md:mx-[15%] text-center">
    <p class="text-[#8B8BD7] bg-[#E7E6F7]  border inline-block p-1 rounded-full text-xs my-4 px-2">Preventions</p>
    <h1 class="font-bold text-xl my-3">How to stay safe Important Precautions</h1>
    <h6 class="text-sm my-2">If you are healthy, you only need to wear a mask if you are taking care of a person with suspected covid infection.</h6>
    <div class="flex flex-wrap my-10 gap-16 justify-center items-center">
        <app-safety-profile [safetyTitle]="'Wear a Mask'" [safetyImg]="'/06.png'"></app-safety-profile>
        <app-safety-profile [safetyTitle]="'Wash Your Hand'" [safetyImg]="'/04.png'"></app-safety-profile>
        <app-safety-profile [safetyTitle]="'Cough Etiquette'" [safetyImg]="'/05.png'"></app-safety-profile>
        <app-safety-profile [safetyTitle]="'Don\'t touch Eyes, Nose or Mouth With Unwashed Hands'" [safetyImg]="'/03.png'"></app-safety-profile>
        <app-safety-profile [safetyTitle]="'Avoid Contact With Sick People'" [safetyImg]="'/02.png'"></app-safety-profile>
        <app-safety-profile [safetyTitle]="'Clean & Disinfect'" [safetyImg]="'/01.png'"></app-safety-profile>
    </div>

</div>